<h1>Welcome to Rock-Paper-Scissors!</h1>
<div class="buttons">
  <%= link_to 'Play Rock', rock_path, class: 'button' %>
  <%= link_to 'Play Paper', paper_path, class: 'button' %>
  <%= link_to 'Play Scissors', scissors_path, class: 'button' %>
</div>
